<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3D404DF20D6F19800FCFF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D404F120D6F19A00FCFF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D404FC20D6F19A00FCFF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
